__pycache__/
*.py[cod]
.env
venv/
ENV/
env/
.venv/
venv.bak/
venv3/
.eggs/
*.egg-info/
dist/
build/
*.egg
*.pyo
.idea/
.vscode/
*.log
*.bak
*.swp
.DS_Store
Thumbs.db
.ipynb_checkpoints/
*.coverage
*.hypothesis/
.coverage.*
.cache/
